.test{ border:1px;}

table
{
border-collapse:collapse;
}
table, td, th
{
border:1px solid green;
}
th
{

background-color:green;
color:white;
}
h1,h2,p
{
color:green;
}
body
{
background-image:URL('img_tree.png');
}